.ToDo {
  background-color: tomato;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  align-items: center;
  margin: 5px 0;
  padding: 0 5px;
  text-align: left;
  padding-left: 1rem;
}

.edit:hover,
.delete:hover,
.fa-check:hover {
  transform: scale(1.2);
  transition: transform 100ms ease-in-out;
}
.edit:active,
.delete:active,
.fa-check:active {
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}
.editInput {
  width: 80%;
  height: 1.5rem;
  border: none;
  outline: none;
}
.saveButton {
  float: right;
  background-color: white;
  border: none;
  outline: none;
  width: 4rem;
  height: 1.65rem;
}

.fa-check {
  position: absolute;
  top: 1.3rem;
  left: -0.4rem;
  z-index: 10;
}
.todoText {
  position: relative;
  padding: 0 1rem;
  cursor: pointer;
}
.true {
  text-decoration: line-through;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
